/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
main  {
    margin: 5vw 0 0 0  ;
 }




/*=============
       GERAL
 =================*/

a {
    text-decoration: none;
    color: black;
}
body {
    font-family: Arial, sans-serif;
}


/*=============
       TOPO
 =================*/

 header {
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw 4vw 4vw;
 }
 header h1 {
    font-size: 1.5rem;
    font-weight: bold;
 }
header nav ul {
    display: flex;
  
}
header nav ul li {
    margin: 0 10px 0 10px;
}
 a.botao {
    background-color: #0E8388;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    display: inline-block;
}
/*================
 SECTION - BANNER
 =================*/

 main section.banner {
    text-align: center;
 }
 main section.banner h2 {
    font-size: 2rem;
    margin: 0vw ;
 }
 main section.banner p.primeiro {
    margin: 2vw 0vw 1.5vw 0 ;
    font-size: 1.2rem;
    color: gray;
 }
 

 /*================
 SECTION - PRODUTOS
 =================*/

 main section.produtos {
    background-color: #CBE4DE;
 }
 main section.produtos h2 {
    margin: 5vw 0 2vw 0 ;
    font-size: 2rem;
    text-align: center;
    padding: 2vw 0 0 0;
    
 }
 main section.produtos p.texto {
    text-align: center;
   margin: 0 0 4vw 0; 
   color: gray;
 }
main section.produtos ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
main section.produtos ul li {
    width: 25%;
    margin: 1.5vw;
    background-color: white;
    text-align: center;
    border-radius: 5px;
}
main section.produtos ul li p {
   text-align: center;
   margin: 1vw 0 1vw 0 ;
}

main section.produtos ul li p span {
   font-size: 2.5rem ;

}


/*================
 SECTION - buildd
 =================*/


 section.build h2 {
   margin: 3vw 0 2vw 0;
   font-size: 2.5rem;
   text-align:center;
 }
section.build p.you {
   text-align: center;
   line-height: 1.2vw;
   color: gray;
}
section.build div.tudo1 {
   display: flex;
   justify-content: center;
   margin: 3vw 0 2vw 0;
  
}
section.build div.site {
   text-align: center;
   margin: 5vw 0 0 5vw;
}
section.build  h3 {
  font-size: 1.5rem;
  margin: 0 0 1.5vw 0 ;
}
section.build div.site p {
   line-height: 1.2vw;
   color: gray;
   font-size: 1.2rem;
}


/*================
    FOOTER
 =================*/

 footer {
   background-color: #CBE4DE;
   display: flex;
   justify-content: space-between;
   padding: 1vw 0 1vw 0;
   align-items: flex-end;
 }
 footer h1 {
   font-size: 1.8rem;
   margin: 0 0 0 5vw;
 }

 footer div.sociais a {
   margin: 0 2vw 0 2vw;
 }
 footer a {
   color: gray;
   padding: 0.3vw 0 0 0;
 }
 